<div id="wrap">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

		<div class="container">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#/list">The Team</a>
		  </div>

		  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#/list">Home</a></li>
		      <li><a href="#/add">Add</a></li>
		    </ul>
		  </div>
		</div>

	</div>

	<div class="container">

		<header class="header row">

			<div class="col-xs-12">

				<h1>Meet {{ member.full_name }}</h1>

			</div>
		
		</header>

		<hr>
		
		<article class="row">

			<div class="col-xs-12 col-md-3">

				<p><img src="img/photos/{{ member.photo }}" alt="{{ member.full_name }}" class="img-thumbnail img-responsive"></p>

			</div>

			<div class="col-xs-12 col-md-9">
				
				<h2>{{ member.job_title }}</h2>

				<p>{{ member.work_phone }} (w)</p>

				<p><a href="mailto:{{ member.work_email }}">{{ member.work_email }}</a></p>

			</div>
		
		</article>

		<article class="row">

			<div class="col-xs-12">

				<p><a href="#/list" class="btn btn-default btn-md" role="button">&larr; Back</a></p>

			</div>

		</article>

	</div>

</div>

<div id="footer">

	<div class="container">

		<br>

		<p class="text-muted credit">Check out <a href="http://www.frbsf.org">FRBSF.org</a>.</p>

	</div>

</div>